<h1>Heia index search_recipes</h1>
<!-- 
<div class="container-fluid">
 
<%= label_tag "Search for recipe", nil, :class => 'search-label'%>
 <%= form_tag("/searchRecipe", :class=>'form-inline', :id => 'search-form',  :method => :get) do %>
	 <%= text_field_tag	'search_text' , nil,  :placeholder => 'Ex: Milk, flour, ....', :name => 'search_string', :class => 'input-xxlarge' %>
	 <%= button_tag "Search", :class => 'btn btn-primary', :name => nil %>
	 
	 <div id="search_settings_group">
	    <a class="dropdown" data-toggle="collapse" data-target="#search_settings" data-parent="#search_settings_group">Extend for more settings <i class="icon-chevron-down"></i></a>
	    <div class="accordion-group" style="border: 0px;">
	        <div class="collapse indent" id="search_settings">
     						
				<div style="float:left;width:30%;">
					<%= field_set_tag  "Max minutes" do %>
						<%= number_field_tag 'minutes_text' , nil, in: 0...1001, :placeholder => 'Type in max minutes', :name => 'max_minutes', :class => 'input-large' %>
					<%end%>
				</div>
	     
	        	<div class="control-group" style="float:left;width:30%;">
	        		<div class="controls">
	        			<%= field_set_tag  "Choose Cuisines" do %>		
			        		<% @cuisineList.each do |cuisine| %>
			        			<label class="checkbox">
					        		<%= check_box_tag 'checked_cuisines[cuisine_'+cuisine+']', cuisine, false  %>
					        		<%= cuisine %>
					        	</label>
							<%end%>
						<%end%>
				</div>
				<div style="clear:both; font-size:1px;"></div>
	        </div>
	    </div>
	</div>
<% end %>  form_tag end
</br >
<%= render :partial => "search_recipes/recipe_list" %>
</div>
-->