
<div class="container-fluid">
 
 <%= label_tag "Search for recipe" %>
 <%= form_tag("/searchRecipe", :class=>'form-inline', :id => 'search-form', :remote => true) do %>
 <%= text_field_tag	'search_text' , nil,  :placeholder => 'Type in ingredients' %>
 <%= button_tag "Search", :class => 'btn btn-primary' %>
 <% end %>
 
 <table class="table table-striped">
        <thead>
                <tr>
                        <th>Name</th>
                        <th>Nr of ingredients</th>
                </tr>
        </thead>
		<tbody id="recipe-result-body">
 			<%= render :partial => "search_recipes/recipe_list" %>
		</tbody>
</table>
 
</br >
</div>