<h1> <%= @recipe['name'] %> </h1>

<div class="recipe-image" style="display: inline-block;vertical-align: middle;"> 
	<%= image_tag @recipe['images'].last['hostedLargeUrl'] %> 
</div>
<div class="recipe-info" style="display: inline-block; vertical-align: top;"> 
	<ul>
	<% @ingredient.each do |line| %>
		 <!-- <li> <%= line %> </li> -->
		<li>
			<span class="amount"> <%= line[1] %>  </span> 
			<span class="unit"> <%= line[2] %></span>
			<span class="description"><%= line[0] %> <%= line[3] %> <%= line[4] if line.size > 3%></span> 
		</li>
	<%end%>
	</ul>	
</div>
<div >
	<%= @recipe['totalTime']%>
</div>
