<div class="recipe-box">
	<div class="recipe-image"> 
		<%= image_tag @recipe['images'].last['hostedLargeUrl'] %> 
	</div>
	<div class="recipe-info">
		<h2> <%= @recipe['name'] %> </h2>
		<i class="icon-time"></i>  <span ><%= @recipe['totalTime']%> </span> </br>
		<i class="fa fa-star"></i> <span> <%= @recipe['rating'].to_f %> / 6.0 </span> </br>
		<%= form_tag "#{@recipe['id']}/favorite" %>
			<%= button_tag(raw("<i class=\"fa fa-star\"> Favourize</i>"), :class => "btn btn-warning")%>
	</div>
		<div class="recipe-description">
			<ul>
		<% @ingredient.each do |line| %>
			<!-- <li> <%= line %> </li> -->
			<% if line.size > 3 %>
				<li class="lang-us">
					<span class="amount"><%= line[1] %></span> 
					<span class="unit"><%= line[2] %></span>
					<span class="description"><%= line[3] %></span> 
				</li>
			<% else %>
				<li>
					<span class="description"><%= line.reduce('') {|acc, current| acc + current + ' '}  %></span> 
				</li>
			<% end %>
		<%end%>
		<a href="#" id="translate" class="btn btn-info">Translate Ingredients</a>
		</ul>	
		</div>
</div>
