<% same_user = @user.uid == current_user.uid%>

<h1><% if same_user %> 
	My Profile 
	<%else%>
	<%= @user.name %>
	<%end%>
</h1>

<div class="profile-box">
	<div class="user-picture">
		<%= image_tag(@user.picture, :size => "170x170") %>
	</div>
	<div class="user-info">
		<% if same_user %>
			<%= form_for( @user, {
            :url => {
            	# method on controller
              :action => "update" }

              # or url with http verb
							# :url => user_index_path,
							# :method => 'patch'
            }) do |f| %>
			<%= f.label :name %>
			<%= f.text_field :first_name, :value => @user.given_name, :disabled => true %>
			<%= f.text_field :last_name, :value => @user.family_name, :disabled => true %> <br />
			<%= f.label :gender %>
			<%= f.select :gender, [['Female','female'],['Male','male']], {}, {:disabled => true} %> <br />
			<%= f.submit "Edit"%>
			<%end%>
		<%end%>
	</div>
</div>
<%= render :template => "recipe/index"%>