<h1>Recipe first page</h1>

<input type="search" value="" placeholder="search" class="topcoat-search-input">

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<% @recipe.all.each do |recipe| %>
		<tr>
			<td> <%= recipe.title %> </td>
			<td> <%= recipe.description %> </td>
		</tr>
		<%end%>
	</tbody>
</table>

<% if current_user %>
	Welcome
	uid: <%= current_user.uid %>
	<br>
	id: <%= current_user.id %>!
	<br>
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Google", "/auth/gplus" %>
<% end %>
