<%= button_to "Create new", new_recipe_path, :class => "btn btn-success", :method => :get %>
<% if @recipes.blank?%> 
	<h4> No recipes <i class="fa fa-frown-o"></i> </h4>
<%else%>
	<h4><%= @recipes.count %> <%= @recipes.count == 1 ? "Recipe" : "Recipes"%> </h4>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<% @recipes.all.each do |rec| %>
			<tr onmouseover="this.style.cursor='pointer'"
                        onclick="DoNav('<%= recipe_path(rec.id)%>')">
				<td> <%= rec.recipeName %></td>
			</tr>
			<%end%>
		</tbody>
	</table>
<%end%>