<div class="recipe-box">
	<div class="recipe-image">
		<%= image_tag @recipe['images'].first %> 
	</div>
	<div class="recipe-info">
		<h2> <%= @recipe['recipeName'] %> </h2>
		<i class="icon-time"></i><span ><%= @recipe['totalTimeInSeconds']%> </span> </br> <i class="fa fa-star"></i><span> <%= @recipe['rating'].to_f %> / 6.0 </span> </br>
		<div id="fav-recipe-form">
			<%= form_tag "#{@recipe['id']}/fav", :remote => true %>
			<%= button_tag(raw("<i class=\"fa fa-thumbs-o-up\"> Favourize</i>"), :name => nil, :class => "btn btn-warning")%>
			<%= text_field_tag "", nil, :name => "recipe_id", :value => @recipe['id'], :class => "hidden" %>
			<%= text_field_tag "", nil, :name => "recipe_name", :value => @recipe['recipeName'], :class => "hidden" %>
		</div>
		<div id="unfav-recipe-form" class="hidden">
			<%= form_tag "#{@recipe['id']}/unfav", :remote => true %>
			<%= button_tag(raw("<i class=\"fa fa-thumbs-o-down\"> Un-Favourize</i>"),:name => nil,  :class => "btn btn-warning")%>
			<%= text_field_tag "", nil, :name => "recipe_id", :value => @recipe['id'], :class => "hidden" %>
		</div>
	</div>
	<div class="recipe-description">
		<ul>
			<% @recipe['ingredients'].each do |line| %>
			<% if line['unit'] != nil %>
			<li class="lang-us">
				<span class="amount"><%= line['amount'] %></span>
				<span class="unit"><%= line['unit'] %></span>
				<span class="description"><%= line['name'] %></span>
			</li>
			<% else %>
			<li>
				<span class="amount"><%= line['amount'] %></span>
				<span class="description"> <%= line['name'] %></span>
			</li>
			<% end %>
			<%end%>
			<a href="#" id="translate" class="btn btn-info">Translate Ingredients</a>
		</ul>
	</div>
</div>

